<div {{ stimulus_target('auth-check', 'modal') }} id="loginModal" class="hidden fixed inset-0 bg-gray-400/20 flex items-center justify-center z-50">

	<div class="relative flex flex-col items-center max-w-lg gap-4 p-6 rounded-md shadow-md sm:py-8 sm:px-12 bg-gray-50 text-gray-800">
		<button class="absolute top-2 right-2" {{ stimulus_action('auth-check', 'closeModal', 'click') }}>
			<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" fill="currentColor" class="flex-shrink-0 w-6 h-6">
				<polygon points="427.314 107.313 404.686 84.687 256 233.373 107.314 84.687 84.686 107.313 233.373 256 84.686 404.687 107.314 427.313 256 278.627 404.686 427.313 427.314 404.687 278.627 256 427.314 107.313"></polygon>
			</svg>
		</button>

		<h2 class="text-2xl font-semibold leading-tight tracking-wide">Qui êtes-vous ?</h2>
		<p class="text-center text-gray-600">Avant de commencer à jouer, veuillez choisir un surnom</p>

		<div class="w-full space-y-1 text-gray-800 ">
			<label for="nickname" class="hidden">Surnom</label>
			<div class="relative w-full">
				<input {{ stimulus_target('auth-check', 'playerName') }} type="nickname" name="nickname" placeholder="Surnom" class="w-full py-2 pl-10 text-2xl font-bold rounded-md focus:outline-none bg-gray-100 text-gray-800  placeholder-gray-700  border-2   border-gray-300">

				<p {{ stimulus_target('auth-check', 'error') }} class="text-red-600 text-sm mb-4 hidden"></p>
			</div>
		</div>
		<button {{ stimulus_action('auth-check', 'savePlayer', 'click') }} type="button" class="px-8 py-3 font-semibold rounded-full bg-primary text-gray-50">Continuer</button>
	</div>

</div>
