{% extends "base.html.twig" %}

{% block body %}


	<section class="">
		<div class="container flex flex-col justify-center p-4 mx-auto md:p-8">
			<h2 class="mb-12 text-4xl font-bold leading-none text-center sm:text-5xl">
				Morpion en ligne
			</h2>

			<div {{ stimulus_controller('mode') }}  class="container mx-auto flex flex-col items-center px-4 py-4 text-center md:py-28 md:px-10 lg:px-32 xl:max-w-4xl">

				<a href="{{ path("play") }}" class="cursor-pointer w-56 text-gray-900 bg-white hover:bg-gray-100 border border-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center justify-center me-2 mb-2"
						{{ stimulus_action('mode', 'play', 'click') }}>
					<img src={{ asset('images/friend.svg') }} class="w-6 h-5 me-2 -ms-1" alt="logo friend"/>
					Jouer avec un ami
				</a>

				<a href="{{ path("play") }}" class="cursor-pointer w-56 text-gray-900 bg-white hover:bg-gray-100 border border-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center justify-center me-2 mb-2">
					<img src={{ asset('images/robot.svg') }} class="w-6 h-5 me-2 -ms-1" alt="logo robot"/>
					Jouer contre l'ordi
				</a>

				<a href="{{ path("play") }}" class="cursor-pointer w-56 text-gray-900 bg-white hover:bg-gray-100 border border-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center justify-center me-2 mb-2">
					<img src={{ asset('images/world.svg') }} class="w-6 h-5 me-2 -ms-1" alt="logo internet"/>
					Jouer en ligne
				</a>

			</div>
		</div>
	</section>


{% endblock %}
