<!DOCTYPE html>
<html lang="fr">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>



		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicons/apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicons/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicons/favicon-16x16.png') }}">
		<link rel="manifest" href="{{ asset('images/favicons/site.webmanifest') }}">


		<title>
			{% block title %}
				Morpion en ligne
			{% endblock %}
		</title>



		<meta name="description" content=""/>
		<meta name="keywords" content=""/>
		<meta name="author" content=""/>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		{% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
        {% if frankenphpHotReload %}
			<meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
			<script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
			<script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
        {% endif %}
	</head>
	<body>
        <main class=" min-h-screen ">
            {% block body %}{% endblock %}
        </main>
	</body>
</html>
